/* ==========================================================================
   #MAIN MENU
   ========================================================================== */

/*
 * Title
 *
 */

/* Align btns */
.posts-pagination {
    text-align: center;

    @include mq( $from: tablet ) {
        
        .posts-pagination-next-link {
            text-align: right;
        }
        
        .posts-pagination-prev-link {
            text-align: left;
        }
        
    }
    
}

/* Extend btn class to posts_navigation links */
.posts-pagination-link a {
    @extend .c-btn;
    @extend .c-btn--ghost;
    @extend .c-btn--primary;
}





/* Add arrow */
.posts-pagination-next-link a:after{
    content: " \2192";
}

.posts-pagination-prev-link a:before{
    content: "\2190 ";
}


