/* Subscribe button
========================================================================== */
.subscribe-button {
    @extend .c-btn;
    // @extend .btn-secondary;

    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;

    background-color: #fff;
    border: none;

    color:#111 !important; // BUG: In Pushy, remove .pushy a
    font-family: $font-family-sans-serif !important;
    @include inuit-font-size( 12px );
    text-transform: uppercase;

    transition: all ease 0.3s;

    // Remove normalize.scss rule for match with Casper in Webkit
    -webkit-appearance: initial !important;

    @include active {
        background-color: #e6e6e6;
    }

}
