/* Align btns */
.numeric-pagination {
    text-align: center;

    @include mq( $from: tablet ) {

        .nav-next {
            text-align: right;
        }

        .nav-previous {
            text-align: left;
        }

    }

}

/* Extend btn class to posts_navigation links */
.nav-page-link a {
  @extend .c-btn;
  @extend .c-btn--ghost;
  @extend .c-btn--primary;
  @extend .c-btn--small;
  // color: #9eabb3;
  // border-color: #bfc8cd;

  // FIXME: estos estilos son necesarios para mantener altura del diseño.
  // Arreglar en _buttons y quitar de aquí.
  font-size: 13px;
  line-height: $inuit-global-spacing-unit;
}





/* Add arrow */
.nav-next a:after{
  content: " \2192";
  }

.nav-previous a:before{
  content: "← ";
  }





.navigation-pages {
    color: #9eabb3;

    // padding: 2px 0;
    // margin-bottom: 10px;

    font-family: $font-family-sans-serif;
    @include inuit-font-size( 13px, 2.846 );

    > span {
    }
    // text-align: center;
 }
