blockquote {
  color: #3a4145;
  padding: 0 0 0 30px;
  margin: 0 0 $line-height-base;
  border-left: 0.4em solid $blockquote-border-color;

  font-size: $blockquote-font-size;
  font-style: italic;
}
