/* ==========================================================================
   #ENTRY HEADER
   ========================================================================== */

/**
 * This is the single entry header.
 *
 */


 /* Entry main wrapper
    ========================================================================== */
.entry-header {
    .entry-title + .entry-meta {
        margin-top: -20px;
    }
}

.entry-title > a {
    color: $color-text-secondary;
    
    &:hover,
    &:focus {
        color: $color-link-hover;
    }
}
