.u-double-border {
    background-color: #fff;
    padding: 6px;
    border: 1px solid #ebf2f6;
}


.vertical-separator {
    vertical-align: middle;
    border-right: 1px solid #d5dbde;
    margin: {
        right: 10px;
        left: 10px;
    }
}
