// FIXME: Hay muchas declaraciones que deberían ir en sus respectivos átomos
.entry-footer {
  /* Grid */
  @extend .row;
  /* Border top & avatar style */
  margin-top: 6rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  border-top: 1px solid #EBF2F6;
  /* text center */
  text-align: center;

  .avatar-wrap {
    text-align: center;
    margin-top: -10rem;
    margin-bottom: 8px;
  }
  .avatar {
    box-sizing: content-box;
    padding: 6px;
    border: 1px solid #EBF2F6;
  }
  /* p style */
  .entry-footer p {
    font-size: $font-size-sm;
  }
  /* Style for 'author-location' & 'author-url' */
  .author-location,
  .author-web {
    display: block;
    margin: {
      top: 1.5rem;
      bottom: 1.5rem;
    }
  }

  .author-wrap {
    @extend .col-sm-7;
  }
  .share {
    @extend .col-sm-5;
  }
}

/* Media query $screen-md-min */
@include media-breakpoint-up(sm) {
  .entry-footer {
    text-align: left;
    /* 'author-location' margin right */
    .author-location {
      margin-right: 2rem;
    }
    /* Style for 'author-location' & 'author-url' */
    .author-location,
    .author-url {
      display: inline-block;
    }
  }
}
