.nav-post-newer,
.nav-post-older {
  background-size: cover;
  width: calc(100% + 32px);
  height: 100%;
  min-height: 214.188px;
  max-width: 100vw;
  margin-left: -16px;

  @include media-breakpoint-up(sm) {
    width: 125%;
    margin-left: -12.5%;
  }

  @include media-breakpoint-up(md){
    width: 100vw;
    margin-left: calc((-100vw + 695.5px) / 2);
  }

  .nav-post-link {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;

    min-height: 220px;
    height: 100%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.7);
      transition: all 0.5s ease;
    }

    &:hover:before {
      background: rgba(0,0,0,0.8);
    }

    .wrap {
      position: relative;
      width: 80%;
      // padding: 6rem 0;
      padding-top: 6rem;
      padding-bottom: 6rem;
      margin: 0 auto 2rem;

      text-align: center;

      @include media-breakpoint-up(sm){
        margin-bottom: 4rem;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
