/* Grid */
.page-navigation {
  text-align: center;
  @extend .row;
  & > div {
    @extend .col-sm-4;
  }
}

/* Align btns */
@include media-breakpoint-up(sm) {
  .page-navigation {
    .nav-next {
      text-align: right;
    }
    .nav-previous {
      text-align: left;
    }
  }
}
