/* Banner */
header.banner {
	position: relative;
	width: 100%;
	background: transparent none no-repeat scroll center center / cover;
	overflow: hidden;

	/* Banner in front page */
	.home & {
		@extend .aligner;
		height: 40vh;
		min-height: 240px;
		padding: 15% 0;
		// box-sizing: border-box;

		@include media-breakpoint-up(sm) {
			height: 60vh;
			margin-bottom: 5rem;
		}

		@include media-breakpoint-up(md) {
			height: 100vh;
		}
	}

	/* When home is not in its first page */
	.paged & {
		min-height: 160px;
		max-height: 20vh;
		padding: 10% 0;

		@include media-breakpoint-up(sm) {
			max-height: 30vh;
		}

		@include media-breakpoint-up(md) {
			padding: 0;
		}
	}
}

/* Banner in post without thumbnail */
.no-featured-image .banner {
	height: 70px;
	min-height: 0px;
}

@include media-breakpoint-up(sm) {
	.no-featured-image .banner {
		height: 88px;
		margin-bottom: 5rem;
	}
}
