.main-header_author {
  height: 20vh;
  min-height: 180px;
  background-color: #fff;
  padding: 15% 0;

  @include media-breakpoint-up(sm) {
    height: 30vh;
  }

  @include media-breakpoint-up(md) {
    height: 40vh;
  }

  // Modifier: no-cover
  &.no-cover {
    height: 10vh;
    min-height: 100px;
    padding: 0;
  }

}
