.main-header_tag {
  height: 20vh;
  min-height: 180px;
  padding: 15% 0;

  @include media-breakpoint-up(sm) {
    height: 30vh;
  }

  @include media-breakpoint-up(md) {
    height: 40vh;
    padding: 0;
  }
}
