/* Main */
.main {

  .post.entry-resume {
    margin: 2rem 0 0;

    @include media-breakpoint-up(sm) {
      margin: {
        top: 4rem;
        bottom: 4rem;
      }

    }

  }

  .page-navigation {
    margin: {
      top: 1.9rem;
      bottom: 2rem;
    }

    @include media-breakpoint-up(sm) {
      margin: {
        top: 4rem;
      }
    }
  }

}
