.label-page-hgroup {
  width: 80%;
  max-width: 710px;
  margin: 2rem auto;

  text-align: center;

  @include mq( $from: tablet ) {
    margin: 0 auto;
  }

  @include mq( $from: desktop ) {
    width: 100%;
  }
}





.label-title {
    color: rgba(0, 0, 0, 0.8);
  margin: 10px 0;

  font-family: $font-family-sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;

  @include mq( $from: tablet ) {
    font-size: 40px;
  }

  @include mq( $from: desktop ) {
    font-size: 50px;
  }

  // Modifier: styles for main-header with thumbnail.
  body.has-thumbnail & {
      color: #fff;
  }

}





.label-description {
    margin-bottom: 0;

    > p {
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;

        font-family: $font-family-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.01rem;

        @include mq( $from: tablet ) {
            font-size: 18px;
        }

        @include mq( $from: desktop ) {
            font-size: 20px;
        }

        // Modifier: styles for main-header with thumbnail.
        body.has-thumbnail & {
            color: rgba(255, 255, 255, 0.8);
        }

    }

}
