.label-title {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;

    font-family: $font-family-sans-serif;
    @include inuit-font-size( 22px );
    font-weight: 700;
    letter-spacing: -1px;

    @include mq( $from: tablet ) {
        @include inuit-font-size( 40px );
    }

  // Modifier: styles for main-header with thumbnail.
    body.has-thumbnail & {
        color: #fff;
    }

}





.label-description {
    margin-bottom: 0;

    > p {
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;

        font-family: $font-family-serif;
        @include inuit-font-size( 13px );
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.01rem;

        @include mq( $from: tablet ) {
            @include inuit-font-size( 18px );
            font-size: 17px;
        }

        // Modifier: styles for main-header with thumbnail.
        body.has-thumbnail & {
            color: rgba(255, 255, 255, 0.8);
        }

    }

}
