/* ==========================================================================
   #HEADER
   ========================================================================== */

/**
 * TODO Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 *
 */

.xxx {
	position: relative;
	// overflow: hidden;
	height: 40vh;

	@include mq( $from: tablet ) {
	  height: 60vh;
	}

	@include mq( $from: desktop ) {
	  height: 100vh;
	}

	.xxx-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.xxx-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;
	}

}




/* Site hgroup
========================================================================== */
.site-hgroup {
	max-width: 710px;
	text-align: center;
}







.main-header {
	position: relative;
	width: 100%;
	background: transparent none no-repeat scroll center center / cover;
	overflow: hidden;

	// &:not(.no-cover) {
	// 	margin-bottom: 100px;
	// }

}





/* FOR ATUHOR PAGE
   ========================================================================== */
.main-header_author {
  height: 20vh;
  min-height: 180px;
  background-color: #fff;
  padding: 15% 0;

  @include mq( $from: tablet ) {
    height: 30vh;
  }

  @include mq( $from: desktop ) {
    height: 40vh;
  }

  // Modifier: no-cover
  &.no-cover {
    height: 0;
    min-height: 140px;
    padding: 0;
	margin-bottom: 0 !important;
  }

}





/* FOR ENTRIES
========================================================================== */
.main-header_entry {
  min-height: 180px;
  height: 30vh;

  @include mq( $from: tablet ) {
    height: 45vh;
  }

  @include mq( $from: desktop ) {
    height: 65vh;
  }

  // Modifier: no-cover
  &.no-cover {
    height: 70px;
    min-height: 0;

    @include mq( $from: tablet ) {
      height: 138px;
    }

  }
}





/* Default/mandatory classes
========================================================================== */
.main-header_home{
  // @extend .aligner;
  height: 40vh;
  min-height: 240px;
  background-color: #f5f8fa;
  padding: 15% 0;

  @include mq( $from: tablet ) {
    height: 60vh;
  }
  @include mq( $from: desktop ) {
    height: 100vh;
  }

  // Modifier: no-cover
  .no-cover & {
    height: 30vh;
    min-height: 160px;

    @include mq( $from: tablet ) {
      height: 40vh;
    }

    @include mq( $from: desktop ) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // Modifier: home is not in its first page
 .paged & {
  max-height: 20vh;
  min-height: 160px;
  padding: 10% 0;

   @include mq( $from: tablet ) {
     max-height: 30vh;
     min-height: 180px;
   }

   @include mq( $from: desktop ) {
     padding: 0;
   }
  }
}





/* Default/mandatory classes
========================================================================== */
.main-header_search {
  height: 20vh;
  min-height: 180px;
  padding: 15% 0;

  @include mq( $from: tablet ) {
    height: 30vh;
  }

  @include mq( $from: desktop ) {
    height: 40vh;
    padding: 0;
  }
}





/* Default/mandatory classes
========================================================================== */
.main-header_tag {
  height: 20vh;
  min-height: 180px;
  padding: 15% 0;

  @include mq( $from: tablet ) {
    height: 30vh;
  }

  @include mq( $from: desktop ) {
    height: 40vh;
    padding: 0;
  }
}
