/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    padding: 5px;
    margin-bottom: 2rem;

    @include mq ( $from: tablet ) {
        height: 140px;
        padding: 35px 40px;
        margin: 0 0 3rem 0;
    }

    .no-cover & {
        background: none;
    }
}




.menu-btn {

    display: inline-block;
    float: right;
    color: #fff;
    padding: 0 5px 2px;
    border-width: 0;

    font-family: $font-family-sans-serif;
    @include inuit-font-size( 12px );
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 36px;
    white-space: nowrap;

    transition: all 0.5s ease;

    &:before {
        position: relative;
        top: 1px;
        margin-right: 2.7px;
        font-weight: bold;
    }

    @include hover-focus-active {
        color: #fff;
    }

    @include mq ( $from: tablet ) {
        padding: 0 15px 0 16px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 3px;

        @include hover-focus-active {
            color: #222;
            background-color: #fff;
        }

    }

    // Modify: when Pushi menu push right is Open
    .pushy-open-right & {
        transform: translate3D(94px, 0, 0);

        @include mq ( $from: tablet ) {
            background-color: #111;
            padding-right: 12px;
            padding-left: 13px;
            border-color: #111;


            &:before {
                color: #fff;
            }
        }
    }

    // When the post have not featured image
    .no-cover & {
        color: #9EABB3;
        border-color: #BFC8CD;

        @include hover-focus-active {
            color: #555;
            border-color: #555;
        }

    }

    .pushy-open-right .no-cover & {
        color: #fff;
    }

}
