/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: $inuit-global-spacing-unit;

    @include mq ( $from: tablet ) {
        padding: 35px 40px;
    }

    body.has-thumbnail & {
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    }
}


.custom-logo-link {
    display: inline-block;

    .custom-logo {
    	display: inline-block;
        width: 50%;
        height: 50%;

        @include mq( $from: tablet ) {
            width: 70%;
            height: 70%;
        }

        @include mq( $from: desktop ) {
            width: 100%;
            height: 100%;
        }
    }
}


.menu-btn {
    float: right;
    color: #9EABB3;
    padding: 0 5px 2px;
    border-width: 0;

    font-family: $font-family-sans-serif;
    @include inuit-font-size( 12px );
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 36px;
    white-space: nowrap;

    transition: all 0.5s ease;

    &:before {
        position: relative;
        top: 1px;
        margin-right: 2.7px;
        font-weight: bold;
    }

    @include hover-focus-active {
        color: #555;
    }

    @include mq ( $from: tablet ) {
        padding: 0 15px 0 16px;
        border: 1px solid #BFC8CD;
        border-radius: 3px;

        @include hover-focus-active {
            border-color: #555;
        }

    }

    body.has-thumbnail & {
        color: #fff;

        @include mq ( $from: tablet ) {
            border: 1px solid rgba(255, 255, 255, 0.6);


            @include hover {
                color: #222;
                background-color: #fff;
            }

        }

    }

    // Modify: when Pushi menu push right is Open
    body.pushy-open-right & {
        transform: translate3D(94px, 0, 0);

        @include mq ( $from: tablet ) {
            color: transparent;
            background-color: #111;
            padding-right: 12px;
            padding-left: 13px;
            border-color: #111;

            &:before {
                color: #fff;
            }

        }

    }

}
