.scroll-down-arrow {
  display: none;
  z-index: 100;

  position: absolute;
  bottom: 45px;
  right: 0;
  left: 0;
  margin: {
    right: auto;
    left: auto;
  }

  width: 34px;
  height: 34px;

  font-size: 34px;
  text-align: center;
  text-decoration: none;
  color: rgba(255,255,255,0.7);

  transform: rotate(-90deg);
  animation: bounce 4s 2s infinite;

  @include hover-focus-active {
    text-decoration: none;
    color: #fff;
  }

  &:before {
      float: left; //remove left spacing in link
  }

}

.home:not(.paged) .scroll-down-arrow {
  @include mq( $from: desktop ) {
    display: block;
  }
}

@keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0) rotate(-90deg);
                transform: translateY(0) rotate(-90deg);
    }
    20% {
        -webkit-transform: translateY(-10px) rotate(-90deg);
                transform: translateY(-10px) rotate(-90deg);
    }
    30% {
        -webkit-transform: translateY(-5px) rotate(-90deg);
                transform: translateY(-5px) rotate(-90deg);
    }
}
