
hr {
	border: 0;
	border-bottom: 1px solid $color-hr;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

input[ type = submit ] {
	cursor: pointer;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}





@import "elements.lists";
@import "elements.headings";
@import "elements.copy";
@import "elements.page";
@import "elements.table";
