table {
    margin: 1.75em 0;
    line-height: 20px;
    font-size: 0.9rem;

    th {
        color:#000;
    }

    th,
    td {
        padding: 5px;
        
        @include mq( $from: tablet ) {
            padding: 8px;
        };
    }

    // Zebra-striping
    tbody tr:nth-of-type(odd) {
        background-color: $color-catskill-white;
    }
}
