.tag {
  color: #3a4145;
  display: inherit;
  padding: 0;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;

  white-space: inherit;

  &:not(body) {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3rem;
  }
}
