.full-width {
  width: calc(100% + 32px);
  max-width: 100vw;
  margin-left: -16px;

  @include media-breakpoint-up(sm) {
    width: 125%;
    margin-left: -12.5%;
  }

  @include media-breakpoint-up(md) {
    max-width: 126%;
    margin-left: -13%;
  }
}
