.author-bio {
  font-size: 1.4rem;

  &.author-bio--lg {
    color: #50585d;

    font-family: $font-family-sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 24px;
  }
}
