.author-web {
  @extend .author-location;

  a {
    color: $brand-primary-light;
    transition: color 0.3s ease;

    @include hover-focus-active {
      color: #111;
      text-decoration: none;
    }
  }
}
