.author-link {
  margin: 0;
  color: #9EABB3;
  font-family: $font-family-sans-serif;
  font-size: 1.3rem;

  @include hover-focus-active {
    text-decoration: underline;
    color: #9EABB3;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }

  // author-link in entry-footer
  .entry-footer & {
    margin: 0;
    font-size: 1.8rem;
    color: #2e2e2e;
  }
}
