.custom-logo-link {
  display: inline-block;
  height: 30px;
  padding: 5px;
  img {
    width: auto;
    max-height: 35px;
    padding: 4px 0;
  }
  @include media-breakpoint-up(sm) {
    height: 40px;;
  }
}
