.menu-title {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-up(sm) {
    top: 45px;
  }
}
