.radial-gradient:after {
  display: block;
  content: " ";
  width: 150px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  bottom: -50px;
  left: -55px;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
}
