.home.blog {

  header.main-header {
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 50px;
    }
  }

  footer.content-info {
    margin-top: 1rem;

    @include media-breakpoint-up(sm) {
      margin-top: 6rem;
    }
  }

}
