.home.blog {

  header.banner {
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 50px;
    }
  }

  footer.content-info {
    margin-top: 3rem;

    @include media-breakpoint-up(sm) {
      margin-top: 8rem;
    }
  }

}
