
/* Banner */
.banner {
	position: relative;
	width: 100%;
	height: 30vh;
	min-height: 180px;
	background: transparent none no-repeat scroll center center / cover;
	overflow: hidden;

	@include media-breakpoint-up(sm) {
		height: 45vh;
	}

	@include media-breakpoint-up(md) {
		height: 65vh;
	}
}

/* Banner in post without thumbnail */
.no-thumbnail > .banner {
	height: 55px;
	min-height: 0px;
}

@include media-breakpoint-up(md) {
	.no-thumbnail > .banner {
		height: 85px;
	}
}

/* Banner in front page */
.home > .banner {
	@extend .aligner;
	height: 40vh;
	min-height: 240px;
	padding: 15% 0;
	// box-sizing: border-box;

	@include media-breakpoint-up(sm) {
		height: 60vh;
		margin-bottom: 5rem;
	}

	@include media-breakpoint-up(md) {
		height: 100vh;
	}
}

/* When home is not in its first page */
.paged > .banner {
	max-height: 30vh;
	min-height: 160px;
	padding: 10% 0;

	// @include media-breakpoint-up(md) {
	// 	height: 55px;
	// 	min-height: 0px;
	// 	margin-bottom: 0px;
	// }
}
