// FIXME: añadir elemento propio y clase propia, no dependiendo del elemento .post
.home .post {
    border-bottom: #EBF2F6 1px solid;
    /* Add a little circle in the middle of the border-bottom just
    for the lolz and stylepoints. */
    &:after {
        display: block;
        content: "";
        width: 9px;
        height: 9px;
        border: #E7EEF2 1px solid;
        position: relative;
        top: 14.5px;
        margin: 0 auto;
        background: #FFF;
        border-radius: 100%;
        box-shadow: #FFF 0 0 0 5px;

        @include media-breakpoint-up(sm) {
          top: 33px;
        }
    }
}
