.entry-title {
  font-size: 2.8rem;
  letter-spacing: -1px;

  @include media-breakpoint-up(sm){
    font-size: 4.5rem;
    letter-spacing: -2px;
  }
  @include media-breakpoint-up(md){
    font-size: 5rem;
  }
}
