.front-page-banner {
 height: 40vh;
 min-height: 240px;
 padding: 15% 0;
 box-sizing: border-box;
}
/* When home is not in its first page */
.front-page-banner {
	height: 55px;
	min-height: 0px;
	margin-bottom: 0px;
}

@include media-breakpoint-up(sm) {
	.front-page-banner {
 	 height: 60vh;
  }
}
@include media-breakpoint-up(md) {
	.front-page-banner {
 	 height: 100vh;
	 margin-bottom: 5rem;
  }
	/* When home is not in its first page */
	.front-page-banner {
		height: 55px;
		min-height: 0px;
		margin-bottom: 0px;
	}
}
