.nav-post-button {
  color: rgba(255,255,255,0.8);

  width: auto;
  padding: 4px 10px 5px;
  border-color: rgba(255,255,255,0.5);
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.1rem;
  font-family: $font-family-sans-serif;
  line-height: 15px;
  text-transform: uppercase;

  transition: all 0.5s ease;

  a:hover > .wrap > & {
    color: #222;
    background-color:#fff;

    transition: all 0.2s ease;
  }
}
