.nav-post-button {
  color: rgba(255,255,255,0.8);

  border-color: rgba(255,255,255,0.5);
  padding: 4px 10px 5px;

  font-size: 1.1rem;
  line-height: 15px;
  text-transform: uppercase;

  transition: all 0.5s ease;

  a:hover > .wrap > & {
    color: #222;
    background-color:#fff;

    transition: all 0.2s ease;
  }
}
