img.alignnone {
  max-width: 100vw;
  margin-left: -16px;
  // display: block;
  // max-width: 126%;
  // height: auto;
  // padding: 0.6em 0;
  // position: relative;
  // left: 50%;
  // -webkit-transform: translateX(-50%);
  // -ms-transform: translateX(-50%);
  // transform: translateX(-50%);

  @include media-breakpoint-up(sm) {
    margin-left: -12.5%;
  }

  @include media-breakpoint-up(md) {
    max-width: 126%;
    margin-left: -13%;
  }
}
