$font__libre-baskerville: "Libre Baskerville", Georgia, Cambria, "Times New Roman", serif;
$font__merriweather: "Merriweather", Georgia, Cambria, "Times New Roman", serif;
$font__montserrat: "Montserrat", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

$font-family-sans-serif: -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: $font__merriweather;

$font-headers: $font-family-sans-serif;
$font-main: $font-family-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
