.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // height: 140px; al menos no necesario en xs
  padding: 5px;
  margin-bottom: 2rem;

  @include media-breakpoint-up (sm) {
    padding: 35px 40px;
    margin: 0 0 3rem 0;
  }
}
