/* Container */
.container {
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Pagination */
.page-navigation {
  margin: {
    top: 2rem;
    bottom: 2rem;
  }
}
