.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
  padding: 5px;
  margin-bottom: 2rem;

  @include media-breakpoint-up (sm) {
    padding: 35px 40px;
    margin: 0 0 3rem 0;
  }
}
