.site-hgroup {
  width: 80%;
  max-width: 710px;
  margin: 2rem auto;
  
  @extend .mx-auto;
  text-align: center;

  @include media-breakpoint-up(sm) {
    margin: 0 auto;
  }

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}
