/* ==========================================================================
#DECORATIVE LINE
========================================================================== */

/*
 * Add a little circle in the middle of the border-bottom just
 * for the lolz and stylepoints.
 *
 * Need 'hr' elemet styles.
 */

.decorative-line:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: relative;
    top: -4px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}
