/* ==========================================================================
#POSTS NAVIGATION
========================================================================== */

.visual-post-navigation {
    height: 100%;
    min-height: 400px;
}




.visual-post-navigation-newer,
.visual-post-navigation-older {
    height: 100%;
}





.visual-post-navigation-link {
    display: block;
    position: relative;
    width: 100%;
    // height: 100%;
    // min-height: 300px;
    background-size: cover;
    background-position: center;
    
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        transition: all 0.5s ease;
    }
    
    &:hover:before {
        background: rgba(0,0,0,0.8);
    }
    
    .wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        overflow: hidden;
    }
    
    .attachment-post-thumbnail {
        // max-height: 300px;
        object-fit: cover;
    }
    
    &:hover {
        text-decoration: none;
    }
}



.visual-post-navigation-title {
    color: #fff;
    text-align: center;
}



.visual-post-navigation-button {
    // FIXME: font size and padding when in mobile is one column
    color: rgba(255,255,255,0.8);
    // padding: 3px 12px;
    border: 1px solid rgba(255,255,255,0.5);
    
    @include inuit-font-size( 11px, 13px );
    // @include inuit-font-size( 9px, 11px );
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    
    transition: all 0.5s ease;

    
    // @include mq( $from: tablet ){
    // }
    
    a:hover > .wrap > & {
        color: #222;
        background-color:#fff;
        
        transition: all 0.2s ease;
    }
}
